### 1) What is a Database 

#### A database is an organized collection of data, generally stored and accessed electronically from a computer system. 

#### Examples

* RDBMS   Example systems: Microsoft Access and MySQL
* Document stores/document-oriented database  Example systems: MongoDB
* Key-value stores  Example systems: Redis   Example users: Stack Exchange
* Search engines  Example systems: Elasticsearch  Example users: Vimeo
* Wide column stores/extensible record stores Example systems: Cassandra  Example users: Netflix
* Graph DBMS Example systems: Neo4j and Microsoft Azure Cosmos DB ,Example users: Ebay

https://codebots.com/continuous-modernisation/types-of-databases-and-dbms-with-examples

 
### 2) Two main types of modern databases


*The two main types of modern databases to choose from are relational and non-relational

#### Relational /SQL

* SQL databases are known as relational databases, and have a table-based data structure, with a strict, predefined schema required.


#### Non-relational/ NoSQL 
* NoSQL databases, or non-relational databases, can be document based, graph databases, key-value pairs, or wide-column stores. NoSQL databases don’t require any predefined schema, allowing you to work more freely with “unstructured data.”






### 3) Database management system Software

####   Database Management System (DBMS) is a software that is used to define, create and maintain a database and provides controlled access to the data.


##### RDMS 
* Relational Database Management System (RDBMS) is an advanced version of a DBMS.
##### RDBMS examples include
* MySQL, 
* Microsoft SQL Server,
* Oracle
* PostgreSQL,

# Installing MySQL

Download Link: 
https://dev.mysql.com/downloads/windows/installer/8.0.html


Windows (x86, 32-bit), MSI Installer

# Retreving Data

In [ ]:
# the database 
USE jumiaa_store;  

#select all columns 
SELECT *

# the table 
FROM customers

!['sql'](sql.png)

#### WHERE

In [ ]:
# 
USE jumiaa_store; 

SELECT *
FROM customers 
WHERE customer_id =4

#### ORDER BY

In [ ]:
USE jumiaa_store; 

SELECT *
FROM customers 
WHERE customer_id =4
ORDER BY  city

#### SELECT

In [ ]:
# SELECT ALL  

SELECT *
FROM customers

In [ ]:
# SELECT SPECIFIC COLUMNS 

USE jumiaa_store; 

SELECT first_name, city 
FROM customers

In [ ]:
# SELECT SPECIFIC COLUMNS ,+NEW 
USE jumiaa_store; 

SELECT first_name, city ,points, points+10
FROM customers

In [ ]:
# AS renaming 

USE jumiaa_store; 

SELECT first_name, city ,points, points+10, points * 400 AS 'Discount'
FROM customers

#### WHERE    fillter data

In [ ]:
# customer with  more than  1000 points 
USE jumiaa_store; 

SELECT *
FROM customers 
WHERE points > 1000

#types of operators 
<,<=,>,=>,!=,<>

#### AND

In [ ]:
# customers in Nairobi with more than 1000 points 
USE jumiaa_store; 

SELECT *
FROM customers 
WHERE points > 1000 AND city = 'Nairobi'

In [ ]:
# where total price is greater than 30

USE jumiaa_store; 

SELECT *
FROM order_items 
WHERE order_id > 6 AND unit_price * quantity > 30

#### OR

In [ ]:

USE jumiaa_store; 

SELECT *
FROM customers 
WHERE points > 100 OR birth_date = '1990-01-01'

### IN

In [ ]:

USE jumiaa_store; 

SELECT *
FROM customers 
WHERE city IN ('Nairobi', 'Cape' ,'Mombasa')

#### BETWEEN

In [ ]:
USE jumiaa_store; 

SELECT *
FROM customers 
WHERE points BETWEEN 900 AND 2000

#### LIKE

In [ ]:
# where first name start with J and anything after that  # match character _j
USE jumiaa_store; 

SELECT *
FROM customers 


WHERE first_name LIKE 'J%'

#### REGEXP OPERATOR

In [ ]:
USE jumiaa_store; 

SELECT *
FROM customers 
WHERE first_name REGEXP 'John'

In [ ]:
^ beginning 
$ end 
'^ John|mac|otieno' logical or
'[gim]e'
'[a-h]e' range

#### IS NULL

In [ ]:
USE jumiaa_store; 

SELECT *
FROM customers 
WHERE phone IS NULL

#### ORDER BY

In [ ]:
USE jumiaa_store; 

SELECT *, quantity * unit_price AS total_price
FROM order_items
WHERE order_id=2
ORDER BY quantity * unit_price DESC

#### LIMIT

In [ ]:

USE jumiaa_store; 

SELECT *, quantity * unit_price AS total_price
FROM order_items
WHERE order_id=2
ORDER BY quantity * unit_price DESC
LIMIT 2

#### join 2 tables in  the same database

In [ ]:
USE jumiaa_store; 

SELECT *
FROM orders 
JOIN customers ON  orders.customer_id  = customers.customer_id

In [ ]:
USE jumiaa_store; 

SELECT *
FROM orders O
JOIN customers C ON  O.customer_id  = C.customer_id

####  two tables in different databases

In [ ]:
USE jumiaa_store; 

SELECT *
FROM order_items oi
JOIN jumiaa_inventory.products p
     ON oi.product_id = p.product_id

#### join Multiple table

In [ ]:
USE jumiaa_store; 

SELECT *
FROM orders o
JOIN customers c 
     ON o.customer_id = c.customer_id
JOIN order_statuses os 
    ON o.status  = os.order_status_id

#### INSERT SINGLE ROW

In [ ]:
INSERT INTO customers (first_name,
                       last_name,
                       birth_date,
                       address,
                       city,
                       state)
VALUE (
       'Wilson',
       'Smith',
       '1990-01-01',
	    'address',
        'city',
        'CA')

####  INSERT  MULTIPLE ROWS

In [ ]:
INSERT INTO shippers (name)
VALUE ('dhlpremnium1'),
       ('fexchipper2')

#### INSERT MULTIPLE ROWS IN DIFFERENT TABLES

In [ ]:
INSERT INTO orders (customer_id,order_date,status)
VALUE (1,'2019-01-02',1);

INSERT INTO  order_items
VALUES
      (LAST_INSERT_ID(),1,1,2.95),
      (LAST_INSERT_ID(),2,1,5.95)

#### UPDATING  ROWS

In [ ]:
UPDATE jumiaa_invoicing.invoices
SET payment_total= 20, due_date="2020-5-15"
WHERE  invoice_id = 1

#### Update multiple rows

In [ ]:
UPDATE jumiaa_invoicing.invoices
SET payment_total= 20, due_date="2020-5-15"
WHERE  client_id IN (3,4)

#### DELETING ROWS

In [ ]:
# check errors 
DELETE FROM jumiaa_invoicing.invoices
WHERE client_id=(
    SELECT *
    FROM jumiaa_invoicing.clients
    WHERE name ='Myworks'
)

#### Aggregate clause

In [ ]:
MAX()
MIN()
AVG()
SUM()
COUNT()

In [ ]:
SELECT    
    MAX(invoice_total) AS total_max,
    MIN(invoice_total) AS total_min,
    AVG(invoice_total) AS AVG_TOTAL,
    SUM(invoice_total) AS total_sum,
    COUNT(invoice_total) AS total_COUNT
    
FROM  jumiaa_invoicing.invoices

#### Group by summary

In [ ]:
SELECT  client_id,  
    MAX(invoice_total) AS total_max,
    MIN(invoice_total) AS total_min,
    AVG(invoice_total) AS AVG_TOTAL,
	SUM(invoice_total) AS total_sum,
    COUNT(invoice_total) AS total_COUNT
    
FROM  jumiaa_invoicing.invoices 
GROUP BY client_id

In [ ]:
SELECT  client_id,  
    MAX(invoice_total) AS total_max,
    MIN(invoice_total) AS total_min,
    AVG(invoice_total) AS AVG_TOTAL,
	SUM(invoice_total) AS total_sum,
    COUNT(invoice_total) AS total_COUNT
    
FROM  jumiaa_invoicing.invoices 
WHERE invoice_date >='2019-07-01'
GROUP BY client_id

####  Having clause summary

In [ ]:
# filtter data after your rows are grouped 

SELECT client_id,
SUM(invoice_total) AS  total_sales,
COUNT(*) AS number_of_invoices
FROM  jumiaa_invoicing.invoices 
HAVING total_sales > 500 AND  number_of_invoices >5

#### WITH ROOLUP

In [ ]:
SELECT client_id,
SUM(invoice_total) AS  total_sales,
COUNT(*) AS number_of_invoices
FROM  jumiaa_invoicing.invoices 
GROUP BY client_id WITH ROLLUP

# VIEWS

#### Create view

In [ ]:
CREATE VIEW aggs_by_customers AS
SELECT  client_id,  
    MAX(invoice_total) AS total_max,
    MIN(invoice_total) AS toaggs_by_customerstal_min,
    AVG(invoice_total) AS AVG_TOTAL,
	SUM(invoice_total) AS total_sum,
    COUNT(invoice_total) AS total_COUNT
    
FROM  jumiaa_invoicing.invoices 
WHERE invoice_date >='2019-07-01'
GROUP BY client_id

####  Dropping Views

In [ ]:
# droping view 
DROP VIEW  jumiaa_store.aggs_by_customers

#### Altering

In [ ]:
CREATE OR REPLACE  VIEW aggs_by_customers AS
SELECT  client_id,  
    MAX(invoice_total) AS total_max,
    MIN(invoice_total) AS toaggs_by_customerstal_min,
    AVG(invoice_total) AS AVG_TOTAL,
	SUM(invoice_total) AS total_sum,
    COUNT(invoice_total) AS total_COUNT
    
FROM  jumiaa_invoicing.invoices 
WHERE invoice_date >='2019-07-01'
GROUP BY client_id

# READ MORE NOT COVERD 


* stored procedures 
* Trigger and events 
* Transaction and cocurrency 
* Design databases 
* indexing 
* securing databases